<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cubes.learningcubes"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.Internet" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.cubes.learningcubes.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cubes.learningcubes.ScanActivity"
            android:label="@string/title_activity_scan"
            android:parentActivityName="com.cubes.learningcubes.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cubes.learningcubes.MainActivity" />

            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_filter" />
        </activity>
        <activity
            android:name="com.cubes.learningcubes.SessionsActivity"
            android:label="@string/title_activity_sessions"
            android:parentActivityName="com.cubes.learningcubes.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cubes.learningcubes.MainActivity" />
        </activity>
        <activity
            android:name="com.cubes.learningcubes.SessionDetailActivity"
            android:label="@string/title_activity_session_detail"
            android:parentActivityName="com.cubes.learningcubes.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cubes.learningcubes.MainActivity" />
        </activity>

        <service
            android:name="com.cubes.learningcubes.LearningService"
            android:exported="false" />

        <activity
            android:name="com.cubes.learningcubes.GameActivity"
            android:label="@string/title_activity_game"
            android:parentActivityName="com.cubes.learningcubes.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cubes.learningcubes.MainActivity" />
        </activity>
        <activity
            android:name="com.cubes.learningcubes.BlockSetDetailActivity"
            android:label="@string/title_activity_block_set_detail"
            android:parentActivityName="com.cubes.learningcubes.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cubes.learningcubes.MainActivity" />
        </activity>
        <activity
            android:name="com.cubes.learningcubes.BlockSetsActivity"
            android:label="@string/title_activity_block_sets"
            android:parentActivityName="com.cubes.learningcubes.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cubes.learningcubes.MainActivity" />
        </activity>
        <activity
            android:name="com.cubes.learningcubes.LessonsActivity"
            android:label="@string/title_activity_lessons"
            android:parentActivityName="com.cubes.learningcubes.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cubes.learningcubes.MainActivity" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="com.cubes.learningcubes.BrowseActivity"
            android:label="@string/title_activity_browse"
            android:parentActivityName="com.cubes.learningcubes.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cubes.learningcubes.MainActivity" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <service
            android:name="com.cubes.learningcubes.BluetoothLeService"
            android:enabled="true" />

        <activity
            android:name="com.cubes.learningcubes.LessonDetailActivity"
            android:label="@string/title_activity_lesson_detail"
            android:parentActivityName="com.cubes.learningcubes.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cubes.learningcubes.MainActivity" />
        </activity>
        <activity
            android:name="com.cubes.learningcubes.StatisticsActivity"
            android:label="@string/title_activity_statistics"
            android:parentActivityName="com.cubes.learningcubes.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cubes.learningcubes.MainActivity" />
        </activity>
    </application>

</manifest>